/* You can add global styles to this file, and also import other style files */
:root{
  --bg:#0f1724;
  --card:#0b1220;
  --accent:#7c3aed;
  --muted:#94a3b8;
  --text:#e6eef8;
}

*{box-sizing:border-box;}
body{
  margin:0;
  font-family: "Inter", sans-serif;
  background:linear-gradient(180deg, var(--bg), #071129);
  color:var(--text);
}

