<section class="flex w-10/12 m-auto justify-around">
  <div class="about-img w-4/12">
    <img class="w-full rounded-2xl" src="/imgs/WhatsApp Image 2025-10-19 at 7.15.28 PM.jpeg" alt="">
  </div>
  <div class="about-content w-7/12 bg-blue-50 rounded-2xl p-3">
    <h3 class="text-2xl font-bold">About Me.</h3>
    <h2 class="text-4xl">Hi, I'm MOhamed Mamdouh.</h2>
    <h4 class="text-3xl">Web Developer.</h4>
    <p class="text-lg font ">Based in Egypt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellat excepturi magnam dolorum voluptas nemo labore dolor dolores dicta maiores.</p>
    <p class="text-2xl font-serif">👍My Skills : </p>
    <ul>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">Html</span>
          <span class="text-sm font-medium text-body">95%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 95%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">Css</span>
          <span class="text-sm font-medium text-body">85%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 85%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">JavaScript</span>
          <span class="text-sm font-medium text-body">80%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 80%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">Angular</span>
          <span class="text-sm font-medium text-body">95%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 95%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">Tailwind</span>
          <span class="text-sm font-medium text-body">95%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 95%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">java</span>
          <span class="text-sm font-medium text-body">75%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 75%"></div>
        </div>
      </li>
      <li>
        <div class="flex justify-between mb-1">
          <span class="text-sm font-medium text-body">DataBase</span>
          <span class="text-sm font-medium text-body">68%</span>
        </div>
        <div class="w-full bg-neutral-quaternary rounded-full h-2">
          <div class="bg-brand h-2 rounded-full" style="width: 68%"></div>
        </div>
      </li>
    </ul>
  </div>
</section>