body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#status {
    font-size: 1.2em;
    margin-top: 20px;
}

.recording {
    color: red;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
}

#liveAudio{
display: none;
}