
<section id="hendy2" class="p-6">
<div class="flex flex-wrap items-center justify-center gap-8">


<div class="max-w-md text-[15px] leading-relaxed font-[Tahoma]">
<p>
Skilled Java and Angular Developer with experience in building robust, scalable, and responsive web
applications. Proficient in Java (Spring Boot, REST APIs) and Angular (TypeScript, RxJS). Strong
problem‑solving abilities and a focus on user‑friendly interfaces.
</p>
</div>


<figure>
<img src="photo_2025-11-21_21-45-50.jpg" class="w-[300px] h-[320px] object-cover rounded-lg" />
</figure>


</div>
</section>
