*{
    padding: 0%;
    margin: 0%;
}
:root {
    --accent-color: #4a4d33;
    --size: 400px;
    --image-size: 300px;
}

body {
    background-color: #FBF8CC;
    color: #03045E;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.line{
    width: 0%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.8s;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    transition: all 0.8s;
}
ul li:hover .line{
width: 100%;
height: 3px;
}
li {
    padding: 4px;
}

a {
    text-decoration: none;
    color: #03045E;
}

main {
    max-height: 100vh;
    width: 90%;
    margin: auto;
}

nav {
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.list li {
    padding: 4px;
}

.list li a {
    font-size: large;
    font-weight: 400;
}

.list .li a:hover {
    color: #ededf0;
}

.contact-list {
    display: flex;

}

.intro {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.intro-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.intro-content h2 {
    font-size: 20px;
}

.intro-content h1 {
    font-size: 50px;
}

.resume {
    border: solid #474306;
    border-radius: 10px;
    width: fit-content;
}

.resume button {
    background-color: #F5EE84;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

.image-container {
    width: var(--size);
    height: var(--size);
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container::before {
    content: '++';
    font-family: sans-serif;
    font-size: 24px;
    color: var(--accent-color);
    position: absolute;
    top: 15%;
    right: 15%;
    line-height: 1;
    transform: rotate(15deg);
}

.image-container::after {
    content: '//////';
    font-family: sans-serif;
    font-size: 20px;
    color: var(--accent-color);
    position: absolute;
    bottom: 25%;
    left: 10%;
    line-height: 1;
    letter-spacing: 5px;
    transform: rotate(20deg);
}

.profile-image-wrapper {
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 50%;
    border: 4px solid var(--accent-color);
    overflow: hidden;
    position: relative;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    display: block;
}

.projects {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro-title {
    text-align: center;
    font-size: larger;
}

.project-1 {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

.project-2 {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.project-3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    gap: 5px;
}

.project-content {
    width: 50%;
    background-color: #fcfcfc;
    padding: 15px;
    border-radius: 15px;
    transition: all 1s;
}
.project-content:hover{
    transform: scale(1.2);
}
.project-img {
    width: 49%;
}

.project-img img {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: 1s;

}
.project-img img:hover{
    transform: scale(1.1);
}
button{
     background-color: #F5EE84;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}
